@charset "utf-8";
/* for the whole project*/
*{
    margin: auto;
    padding-top: auto; 
}
/* for the transculcent photo*/
.translucent{
  text-align: center;
   background-color: #292828cc;
   padding: 20px;
   height: 120%;
   width: 120%;
}
/* for the body*/
body {
  background-image: url('carpool7.jpg');
  max-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:"Roboto", Helvetica, sans-serif;
  background-color: #292828cc;
  opacity: 0.9;
  /* if you don't want your side nav to show */
  overflow-x: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 3%;
  width: 100%;
  padding: 0;
  text-align: center;
}
/*End of body styles */

/* Navigation bar styles */
nav{
  width: 100%;
  height: 60px;
  color: #fff;
  background-color:#7707df;
}
/* for the 'logo'*/
nav p{
  font-family: Arial;
  color:#fff;
  font-size: 24px;
  line-height: 55px;
  float:left;
  padding: 0 20px;
  text-decoration: none;

}
/*Style the links inside the navigation bar */
 a {
  float: left;
  color: white;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  font-size: 24px;
}
a.textalign_right{
  float: left;
  color:#7707df;
  margin-left: 45%;
  padding: 0 20px;
  text-decoration: none;
  font-size: 24px;
  

}
/* Change the color of links on hover */
 a:hover {
  background-color: #ddd;
  color: black;
  height: inherit;
}

/* Add a color to the active/current link */
 a.active {
    /*background-color: #4CAF50;*/
    font-style: arial;
    color:black;
  }
  a.active {
  /*background-color: #4CAF50;*/
  font-style: arial;
  color: black;
}
/*Styles for  the links on the right*/
nav ul{
  float: right;
}
nav ul li{
  float: left;
  list-style: none;
  position: inherit;
}

nav ul li a{
  display: block;
  font-family: Arial;
  color: black;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
  display: block;
}


nav ul li ul li {
 width: 150px;
 border-radius: 4px;
}

nav ul li ul li a{
 padding: 8px 14px;
}

nav ul li ul li a:hover{
  color: #222;
  background-color: #f3f3f3;
}
#textalign_left {
  text-align: left;
}
/* End of navigation styles */
/* sign up links */
#signup_index {
  float: right;
  padding-top: 40px;
  padding-right: 40px;
}
a.signup_index {
  font-size:17px;
  float: right;
}
/*Class for input for sign up*/
.margin-setiing{
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 70px;
  margin-left:-100px;
  text-align: center;
  margin-right: 40px;
}
#submit_signin {
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left:-100px;

}


/*Sign up form*/
#form1 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 100px
}

/* sytles for all input*/
input[type=text]{
    width:65%;
    padding: 10px;

}
input[type=password]{
    width:65%;
    padding: 10px;
}
/*sty;es for the sigmup heading. yhough they dont work haha*/
#signupheading {
    margin-bottom:40px;
    font-size: 20px;
}
/* Styles for the submit button*/
.button{
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

  .login {
    margin:0 auto;
    max-width:500px;
  }
  .login-header {
    color:#000;
    text-align:center;
    font-size:300%;
  }
  /*.login-form {
    border:.5px solid #000;
    
    box-shadow:0px 0px 10px #000;
  }*/
  
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#000;
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
    background:#e1e3e4;
    border-radius:10px;
  }
  .login input[type="text"],
  .login input[type="password"] {
    max-width:400px;
      width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #020101;
    outline:none;
    padding-left:10px;
  }
  .login-form button {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }
  .sign-up{
    color:#070303;
    margin-left:-70%;
    cursor:pointer;
    text-decoration:underline;
  }
  /*End of login for now*/
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .login-button {
      margin-bottom:10px;
      background-color: #7707df;
    }
  }
  .request_table{
    width: 100%;
    border: 1;
    align-content: center;
  }


  #table_div{
    float: left;
   order:.5px solid #000;
   background: white;
   border-radius:10px;
   box-shadow:0px 0px 10px #000;
   box-sizing:border-box;
   padding-top:0 7777px;
   padding-bottom:10%;
   margin:0% auto;
   text-align:center;
   top: 90px; 
   position: relative;
   border-radius: 10px; 
   padding: 20px; 
   text-align: left; 
   width: 95%;
   margin-bottom: 70px;
 
  }

  #table_div2{
    float: right;
    order:.5px solid #000;
    background: white;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
    box-sizing:border-box;
    padding-top:0 7777px;
    padding-bottom:10%;
    margin:0% auto;
    text-align:center;
    top: 90px; 
    position: relative;
    border-radius: 10px; 
    padding: 20px; 
    text-align: left; 
    width: 95%;
    margin-bottom: 70px;
  
   }
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#7707df;
    color: white;
    text-align: center;
    float: center;
 }

 #makeRequestBtn {
  top: 30px;
  position: relative;
  background-color: blueviolet;
 }

 .reject_button {
   background-color: red;
 }
 .approve_button {
   background-color: green;
 }

 #request_filter {
  height: 40px;
  font-size: 20px;
 }

 .media-body {
  padding-left: 20px;
 }

 .admin_buttons button{
  text-align: center;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
 }


 #form1-span {
  position: relative;
  left: -136px;
 }

 #form1 select {
  margin-bottom: 30px;
  height: 40px;
 }

 #request-span {
  position: relative;
  margin-left: 189px;
  
 }

 #user-span {
  position: relative;
  left: 60px;
 }


 #createRequest {
  position: relative;
  font-size: 30px;
  top: 30px;
 }
 #index-content {
   text-align: center;
   background-color: #292828cc;
   padding: 20px;
   height: 100%;
 }
 #index-content h2{
   font-size: 4em;
   color: white;
   margin-top:2em;

 }
#index-content p {
   color: white;
   margin-bottom: 2em;
   font-size: 20px;
 }
 #index-content h3{
  font-size: 1.3em;
  color: white;
  margin:20px;

}
 .btn {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   min-width: 200px;
 }
 a#login.btn.passenger{
   /* margin:10px; */
   padding: 10px;
   text-align: center !important;
   margin-left: 50px;
 }
 a#login.btn.driver{
  /* margin:10px; */
  padding: 10px;
  text-align: center !important;
  margin-left: 30%;
}
a#login.btn.login{
  /* margin:10px; */
  padding: 10px;
  text-align: center !important;
  margin-left: 40%;
}
h1 {
  color:whitesmoke;
}
